include requirements*.txt
include *.py
exclude conftest.py
exclude install.py
recursive-include gc3libs *.py
recursive-include gc3apps *.py
recursive-include gc3utils *.py
prune docs
prune gc3apps/*/test
recursive-include gc3libs/etc *
