# The following  Python modules  are required by  GC3Pie's `openstack` backend.
#
python-novaclient;python_version>='2.7'
# Alternate dependencies for Python 2.6:
# - pyCLU requires argparse,
argparse;python_version=='2.6'
# - OpenStack's "keystoneclient" requires `importlib`
importlib;python_version=='2.6'
# - support for Python 2.6 was removed from `novaclient` in commit
#   81f8fa655ccecd409fe6dcda0d3763592c053e57 which is contained in
#   releases 3.0.0 and above; however, we also need to pin down
#   the version of `oslo.config` and all the dependencies thereof,
#   otherwise `pip` will happily download the latest and
#   incompatible version,since `python-novaclient` specifies only
#   the *minimal* version of dependencies it is compatible with...
stevedore<1.10.0;python_version=='2.6'
debtcollector<1.0.0;python_version=='2.6'
keystoneauth<2.0.0;python_version=='2.6'
# yes, there's `keystoneauth` and `keystoneauth1` !!
keystoneauth1<2.0.0;python_version=='2.6'
oslo.config<3.0.0;python_version=='2.6'
oslo.i18n<3.1.0;python_version=='2.6'
oslo.serialization<2.1.0;python_version=='2.6'
oslo.utils<3.1.0;python_version=='2.6'
python-novaclient<3.0.0;python_version=='2.6'
