# paramiko and pycrypto are required for SSH operations
paramiko
pycrypto
# prettytable -- format tabular text output
prettytable
# pyCLI -- object-oriented command-line app programming
pyCLI
# Needed by SqlStore
sqlalchemy
# Needed for parsing human-readable dates (gselect uses it).
parsedatetime
# needed by DependentTaskCollection
# (but incompatible with Py 2.6, so we include a patched copy)
#'toposort==1.0
