include *.py
recursive-include gc3libs *.py
recursive-include gc3apps *.py
recursive-include gc3utils *.py
recursive-include docs/html/ *.html *.js *.css *.svg *.jpg *.gif workflow.png
prune gc3apps/*/test
recursive-include gc3libs/etc *