# ~/.gc3/gc3utils.conf
#
#  THIS IS JUST AN EXAMPLE CONFIGURATION FILE.  No computing resources
#  are currently defined; please edit the file and define resources
#  available into your environment, using the supplied ones as guides.
#
#  Please see http://code.google.com/p/gc3pie/wiki/ConfigurationFile
#  for details on this file format and contents.


[DEFAULT]
# The `DEFAULT` section is entirely optional; if present, its values can
# be used to interpolate values in other sections, using the `%(name)s` syntax.
# See documentation of the `SafeConfigParser` object at: 
#   http://docs.python.org/library/configparser.html
debug = 0

# Authorization section
#
# You can have as many `authorization/name` sections as you want;
# this allows you to define different auths for different resources.
# Each `resource/***` section will reference one (and one only) auth
# section.
#
# Examples: 
#
# [authorization/smscg]
# type = voms
# aai_username= <aai_user_name>
# idp= uzh.ch
# vo = smscg
#
# [authorization/ssh1]
# type = ssh
# username = murri # your username here
#
# [authorization/ssh2] # I use a different account name on some resources
# type = ssh
# username = rmurri 


# Resource section
# [resource/<resource_name>]
#
# You can have as many `resource/name` sections as you want; this
# allows you to define many different resources.  Each `resource/***`
# section must reference one (and one only) `authorization/name`
# section (in the `authorization_type` key).
#
# Examples:
#
# [resource/gc3]
# # A single cluster, accessed through the ARC middleware
# type = arc
# authorization_type = <auth_name> # pick a `voms` type auth
# frontend = idgc3grid01.uzh.ch
# name = gc3
# arc_ldap = ldap://idgc3grid01.uzh.ch:2135/mds-vo-name=resource,o=grid
# max_cores_per_job = 32
# max_memory_per_core = 2
# max_walltime = 12
# ncores = 80
# walltime = 12
#
#
# [resource/ocikbpra]
# # A single SGE cluster, accessed by SSH'ing to the front-end node
# type = ssh_sge
# authorization_type = <auth_name> # pick an `ssh` type auth, e.g., "ssh1"
# frontend = ocikbpra.uzh.ch
# gamess_location = /share/apps/gamess
# max_cores_per_job = 80
# max_memory_per_core = 2
# max_walltime = 2
# ncores = 80
# walltime = 2
