<%inherit file="/base/index.html"/>
<%def name="title()">${c.title}</%def>
<%def name="heading()"><h1>${c.heading or c.title}</h1></%def>

<%def name="buildrow(a_job, odd=True)">
    %if odd:
        <tr class="odd">
    %else:
        <tr class="even">
    % endif
        <td valign="top">
            ${h.link_to(
                a_job.id,
                h.url_for(
                    controller=u'gridjob',
                    action='view_job',
                    id=unicode(a_job.id)
                )
            )}
        </td>
        <td valign="top">
            ${a_job.title}
        </td>
        <td valign="top">${a_job.dat.strftime('%c')}</td>
        </tr>
</%def>
<p>Title: ${c.a_task.title}</p>
<p>Author: ${c.a_task.author}</p>

% if len(c.paginator):
<p>${ c.paginator.pager('$link_first $link_previous $first_item to $last_item of $item_count $link_next $link_last') }</p>
<table class="paginator"><tr><th>Job ID</th><th>Job Title</th><th>Posted</th></tr>
<% counter=0 %>
% for item in c.paginator:
    ${buildrow(item, counter%2)}
    <% counter += 1 %>
% endfor
</table>
<p>${ c.paginator.pager('~2~') }</p>
% else:
<p>
    No pages have yet been created.
    <a href="${h.url_for(controller='page', action='new')}">Add one</a>.
</p>
% endif
